<aside class="activity-sidebar">
    <h2>Recent Activity</h2>
    <div class="activity-list">
        {% for  message in room_messages %}
        <div class="activity-item">
            <p><a href="#" class="user-link">@{{message.user}}</a> replied to "{{message.room}}"{% if request.user == message.user %}
        <a href="{% url 'delete-message' message.id %}" style="text-decoration: none;" class="delete-btn" title="Delete activity">[x]</a>
        {% endif %}</p>
            <span class="activity-time">{{message  }}</span>
        </div>
        {% endfor %}
    </div>
</aside>