{% extends 'base/main.html' %}

{% block content %}
{% include 'base/topics_component.html' %}

<main class="rooms-section">

    {% include 'base/navbar.html'%}

    <div class="rooms-content">
        <div class="rooms-header">
            <h2>[{{room_count}}_Rooms_Available]</h2>
            <a href="{% url 'create-room' %}"  style="text-decoration: none;" class="create-room-btn">+ Create_Room</a>
        </div>
        <div class="rooms-list">
            {% include 'base/feed_component.html'%}
        </div>
    </div>

</main>
{% include 'base/activity_component.html' %}
{% endblock content %}