<header class="header">
    <div class="header-content">
        <h1 class="logo">&gt;_Study Bud</h1>
        <div class="search-bar">
            <form action="{% url 'home' %}" method="GET">
                <input type="search" placeholder="Search rooms..." class="search-input" name="q">
            </form>
        </div>
        <div class="user-menu">
            {% if request.user.is_authenticated %}
            <span class="username">[user: {{request.user}}]</span>
            <a href="{% url 'logout' %}" class="logout-btn">$ logout</a>
            {% else  %}
            <a href="{% url 'login' %}" class="logout-btn">$ login</a>
            {% endif %}
        </div>
    </div>
</header>